:root {
  --cream: #f5f2e9;
  --brand-black: #1a1a1a;
  --brand-white: #f8f8f8;
  --auburn: #551a13;
  --text-black: #333;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--cream);
  color: #333;
  font-family: Opensans Variablefont Wdth Wght, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 46px;
  font-weight: 700;
  line-height: 44px;
}

p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.body {
  font-size: 16px;
}

.logo {
  width: auto;
  height: auto;
  max-height: 50px;
}

.navbar {
  z-index: 10;
  width: 100%;
  background-color: var(--brand-black);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container {
  height: 6rem;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 4rem;
  display: flex;
}

.brand {
  order: -1;
}

.nav-menu {
  order: 1;
}

.nav-link {
  color: #fff;
  letter-spacing: .5px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 24px;
  font-family: Comfortaa Variablefont Wght, sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  opacity: .7;
}

.nav-link.w--current {
  color: #fff;
}

.nav-link.cta {
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 0;
}

.nav-link.cta:hover {
  opacity: .9;
}

.hero-section {
  height: 100svh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/pizza.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  background-color: var(--brand-white);
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 22px 60px;
  font-family: Comfortaa Variablefont Wght, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.button:hover {
  background-color: #e6e6e6;
}

.button.dark {
  background-color: var(--brand-black);
  color: var(--brand-white);
}

.button.dark:hover {
  opacity: .9;
}

.benefit-image {
  width: 30%;
  max-width: 340px;
  aspect-ratio: 84 / 100;
  object-fit: cover;
  margin-left: 30px;
  margin-right: 30px;
}

.space {
  height: 50vh;
}

.benefits-section {
  justify-content: center;
  padding: 8rem 1rem 6rem;
  display: flex;
}

.container-2 {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.testimonial {
  max-width: 400px;
  margin-right: 4rem;
}

.testimonial-section {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonial-holder {
  justify-content: center;
  display: flex;
}

.secondary-heading {
  margin-bottom: 2rem;
  font-family: Comfortaa Variablefont Wght, sans-serif;
  line-height: 1.2;
}

.secondary-heading.left {
  margin-left: 10rem;
}

.testimonial-container {
  max-width: 1440px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--brand-white);
  border-radius: 20px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  display: flex;
}

.section {
  margin-bottom: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.info-block {
  grid-column-gap: 20px;
  grid-row-gap: 8px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: min-content max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-bottom: 3rem;
  display: grid;
}

.info-name {
  font-weight: 600;
}

.section-container {
  max-width: 1440px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--brand-white);
  border-radius: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 4rem 5rem 10rem;
  display: grid;
}

.margin {
  margin-top: 12px;
}

.info-link {
  color: #333;
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
}

.info-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.map {
  border-radius: 10px;
  order: 1;
}

.social-icon {
  height: auto;
  max-width: 30px;
  mix-blend-mode: luminosity;
}

.social-icon:hover {
  mix-blend-mode: normal;
}

.social-link {
  margin-right: 1.5rem;
}

.container-5 {
  max-width: 1440px;
  background-color: var(--brand-white);
  border-radius: 20px;
  justify-content: space-between;
  padding: 5rem 4rem 5rem 10rem;
  display: flex;
}

.delivery-icon {
  height: auto;
  max-width: 60px;
  border-radius: 20%;
}

.delivery-link {
  margin-right: 2rem;
}

.text-block {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 150%;
}

.about-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: url('../images/Ellipse-1.png');
  background-position: 50% 0;
  background-size: cover;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 12rem 2rem 6rem;
  display: grid;
}

.footer {
  background-color: var(--auburn);
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.copyright {
  font-size: 14px;
}

.footer-info {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.footer-container {
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.footer-info-item {
  text-align: center;
  line-height: 2;
}

.div-block {
  text-align: center;
  flex-direction: column;
  line-height: 2;
  display: flex;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}

.legal-container {
  margin-top: 3rem;
  display: flex;
}

.footer-legal {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 12px;
  text-decoration: none;
}

.footer-legal:hover {
  text-decoration: underline;
}

.text-cta {
  color: #333;
  border-bottom: 1px solid #333;
  text-decoration: none;
}

.text-cta:hover {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.about-image {
  width: auto;
  height: auto;
  max-height: 500px;
}

.about-text {
  max-width: 400px;
  margin-left: 6rem;
}

.paragraph {
  margin-bottom: 20px;
}

.main-heading {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-family: Comfortaa Variablefont Wght, sans-serif;
  line-height: 1.2;
}

.main-heading.dark {
  color: var(--text-black);
}

.map-image {
  border-radius: 10px;
}

.author {
  font-size: 14px;
  font-style: italic;
}

.html-embed-2 {
  color: #fff;
  display: inline;
}

.container-6 {
  max-width: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-heading {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Comfortaa Variablefont Wght, sans-serif;
  font-size: 12px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  .logo {
    max-height: 40px;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .nav-link {
    margin-left: 0;
    margin-right: 0;
  }

  .hero-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .benefit-image {
    margin-left: 18px;
    margin-right: 18px;
  }

  .testimonial {
    margin-right: 2rem;
  }

  .testimonial-container {
    padding-left: 2rem;
  }

  .section-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about-text {
    margin-left: 2rem;
  }

  .main-heading {
    font-size: 42px;
  }

  .menu-button {
    color: var(--brand-white);
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    max-height: 35px;
  }

  .container {
    height: 5rem;
    padding-right: 1rem;
  }

  .nav-menu {
    background-color: var(--brand-black);
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .nav-link {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav-link.cta {
    background-color: var(--brand-black);
    color: #fff;
    margin-left: 0;
  }

  .button {
    padding: 18px 40px;
    font-size: 14px;
  }

  .testimonial {
    margin-right: 0;
  }

  .testimonial-holder {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .section-container {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }

  .icons-container.cta {
    text-align: center;
  }

  .about-container {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }

  .about-text {
    margin-left: 0;
  }

  .main-heading {
    font-size: 38px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #666;
    border-radius: 10px;
  }

  .utility-page-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu-icon {
    width: 24px;
    display: inline-block;
  }

  .text-block-2 {
    font-size: 14px;
    display: inline;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 2rem;
  }

  .button {
    margin-top: 2rem;
  }

  .benefit-image {
    z-index: 3;
    width: 80%;
    position: relative;
  }

  .benefit-image.two {
    z-index: 2;
    margin-top: -131px;
    margin-left: -46px;
  }

  .benefit-image.three {
    z-index: 1;
    margin-top: -101px;
    margin-right: -51px;
  }

  .benefits-section {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .testimonial-holder {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  .secondary-heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 26px;
    line-height: 1.3;
  }

  .testimonial-container {
    text-align: center;
    align-items: center;
    padding: 1rem 1.5rem 2rem;
  }

  .section {
    margin-bottom: 4rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-block {
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .section-container {
    padding: 1rem 1.5rem 2rem;
  }

  .copyright {
    order: 1;
    margin-top: 1rem;
  }

  .footer-info {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-direction: column;
  }

  .footer-link {
    margin-bottom: 4px;
  }

  .legal-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    flex-direction: column;
    margin-top: 4rem;
  }

  .footer-legal {
    margin-left: 0;
  }

  .main-heading {
    font-size: 34px;
    line-height: 1.3;
  }
}

#w-node-_4278a52f-34cf-9191-59c4-cfd4e1d429c7-6d7ef136, #w-node-_9bf3ff17-fbec-4f10-2900-45c087f4364c-6d7ef136, #w-node-aba81d76-b0c8-248f-8230-8bf2b25f048b-6d7ef136, #w-node-_8641cf09-e905-ed6c-1251-d5538889d66a-6d7ef136, #w-node-d831ba40-2742-d1f2-011e-4b1dbf5eee99-6d7ef136 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a61d92b0-203f-666f-d453-278f5558ce55-6d7ef136 {
  justify-self: end;
}

@media screen and (max-width: 767px) {
  #w-node-a61d92b0-203f-666f-d453-278f5558ce55-6d7ef136 {
    grid-row: 2 / 3;
  }
}


@font-face {
  font-family: 'Opensans Variablefont Wdth Wght';
  src: url('../fonts/OpenSans-VariableFont_wdthwght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Comfortaa Variablefont Wght';
  src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: block;
}